.container{
    margin-bottom: 100px;
}
.background-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 0 40px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    color: white;   /*or .categories h1{color: white}*/
    border-radius: 10px;
}
.cat1{
    background-color: orange; /*backgroung-image: linear-gradient(); */
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
    text-align: center;
}
#subscribe h6{
    color: gray;
} 
footer{
    text-align: center;
}